{% include 'admin/header.html'%}
<br><br><br><br>
<div class="col-lg-8 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">CUSTOMER REGISTRATION TABLE </h5>



        

        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">slno</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0"> Customer Name</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Email Id</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Contact No</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">State</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">District</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Location</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Address</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Username</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Password</h6>
                  </th>
                 
               
               
                
              </tr>
            </thead>
            {% for data in cusregform %}
            <tbody>
              <tr>
                
                <td class="border-bottom-0">
                    {{forloop.counter}}
                    <h6 class="fw-semibold mb-1"></h6>                              
                </td>

                <td class="border-bottom-0">
                    {{data.customer_name}}
                  <p class="mb-0 fw-normal"></p>
                </td>  

                <td class="border-bottom-0">
                    {{data.email_id}}
                  <p class="mb-0 fw-normal"></p>
                </td> 
                <td class="border-bottom-0">
                    {{data.contact_no}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.state}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.district}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.location}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.address}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.username}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.password}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                
               
                

              
               

              
                
             
              </tr> 

                                    
            </tbody>
            {% endfor %}
          </table>

        
        </div>
      </div>
    </div>
  </div>
  <script>
    function myFunction() {
      alert("Deleted successfully");
    }
    </script>
 
  {% include 'admin/footer.html'%}