{% include 'guest/header.html'%}
{% load static %}
<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sub Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        {% for data in subcategory_view %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="{% url 'subcatwiseproduct' id=data.sub_categoryid %}">
                <div class="cat-item d-flex align-items-center mb-4">
                    
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        <img class="" ="" alt="">
                    </div>
                    
                    <div class="flex-fill pl-3">
                        <img src="{{data.subcategory_image.url}}" alt="" width="200" height="200">
                        
                        <h6>{{data.subcategory_name}}</h6>
                        
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</div>
<!-- Categories End -->
{% include 'guest/footer.html'%}