{% include 'admin/header.html'%}

<div class="container-fluid">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">CATEGORY</h5>
              <div class="card">
                <div class="card-body">
                  <form action= "{% url 'categoryaction' %}" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Category Name</label>
                      <input type="text" name="categoryname" class="form-control" id="categoryname" aria-describedby="categoryname">
                      
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">File</label>
                      <input type="file" name="file" class="form-control" id="exampleInputfile" >
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" onclick="myFunction()" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          function myFunction() {
            alert("Registration successfull");
          }
          </script>
        {% include 'admin/footer.html'%}