{% include 'admin/header.html'%}
<br><br><br><br>
<div class="col-lg-8 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">PRODUT TABLE </h5>

        <a href="{% url 'product' %}"><button class="btn btn-primary">Add New  +</button></a><br><br>


        

        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">slno</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0"> Product Name</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">  Category Name</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Subcategory Name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Product Rate</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Quantity</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Product Image 1</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Product Image 2</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Product Image 3</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Description</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Product Status</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Registered Date</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Edit</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">  Delete</h6>
                  </th>
               
               
                
              </tr>
            </thead>
            {% for data in product %}
            <tbody>
              <tr>
                
                <td class="border-bottom-0">
                    {{forloop.counter}}
                    <h6 class="fw-semibold mb-1"></h6>                              
                </td>

                <td class="border-bottom-0">
                    {{data.productname}}
                  <p class="mb-0 fw-normal"></p>
                </td>  

                <td class="border-bottom-0">
                    {{data.category_name}}
                  <p class="mb-0 fw-normal"></p>
                </td> 
                <td class="border-bottom-0">
                    {{data.subcategory_name}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.product_rate}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.quantity}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    <img src="{{data.productimage_1.url}}" alt="Uploaded Image" width="150" height="100">
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    <img src="{{data.productimage_2.url}}" alt="Uploaded Image" width="150" height="100">
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    <img src="{{data.productimage_3.url}}" alt="Uploaded Image" width="150" height="100">
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.description}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.product_status}}
                  <p class="mb-0 fw-normal"></p>
                </td> 

                <td class="border-bottom-0">
                    {{data.registered_date}}
                  <p class="mb-0 fw-normal"></p>
                </td> 
                <td>
                    <a href="{% url 'productedit' id=data.productid %}"><button class="btn btn-primary">Edit</button></a>
                 </td>
                 <td>
                  <a href="{% url 'productdelete' id=data.productid %}"><button class="btn btn-danger" onclick="myFunction()">Delete</button></a>
                </td>
               
                

              
               

              
                
             
              </tr> 

               {%endfor%}                     
            </tbody>
          
          </table>

        
        </div>
      </div>
    </div>
  </div>
  <script>
    function myFunction() {
      alert("Deleted successfully");
    }
    </script>
 
  {% include 'admin/footer.html'%}